h1{
	font-family: arial;
	color: white;
}
h2{
	margin-left: 40%;
	color: #71C671;
	font-size: 30px;
}
h3{
	font-size: 30px;
	color: #00FF7F;
	font-style: oblique;
	
}
h4{
	font-size: 130%;
	color: black;
	font-style: oblique;
}
p {
	font-size: 30px;
	color: #00FF7F;
	font-style: oblique;
	margin-left: 30%;
}
}
.toolbar{
	display: flex;
	background-color: black;
   /* position: fixed;
    top: 0;
    left: 0;*/
    width: 100%;

}
.home {

    height: 10%;
    width: 33%;
    font-size: 50px;
    text-align: center ;
    text-decoration: none;
    color: yellow;
    border: transparent;
    background-color: black;
}
.about{
	
    height: 10%;
    width: 33%;
    font-size: 50px;
    text-align: center ;
    text-decoration: none;
    color: yellow;
    border: transparent;
    background-color: black;
}
.contact{
    height: 10%;
    width: 33%;
    font-size: 50px;
    text-align: center ;
    text-decoration: none;
    color: yellow;
    border: transparent;
    background-color: black;
}
*{
	background-color: #27408B;
}